.movie-icon{
    color: #3062E3;
    
}

.navbar-title{
    padding-left: 70px;
    padding-right: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.navbar-title-name{
    font-size: 1.5em;
    
}

.login-button{
    color: #3062E3;
    margin-right: 40px;
    padding: 5px 40px;
}