/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: black;
}

.navbar{
    z-index: 1;
}

input[type="text"]
{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;

}